body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #282828;
}

.container {
  padding: 12px;
}

main {
  padding: 10px;
}

@media (min-width: 960px) {
  main {
    padding: 20px;
  }
}

.hide-me {
  display: none !important;
}

h2 {
  color:#07FC07;
  font-weight: 600;
  font-size: 3em;
  margin: 0px;
}

h3 {
  color: #07FC07;
  font-weight: 600;
  font-size: 2.5em;
  margin: 0px;
}

@media (max-width: 959px) {
  h3 {
    font-size: 1.75em;
    margin: 0px;
  }
}

h4 {
  font-weight: 600;
  font-size: 2em;
  margin: 0px;
}

@media (max-width: 959px) {
  h4 {
    font-size: 1.5em;
    margin: 0px;
  }
}

h5 {
  font-weight: 600;
  font-size: 1.5em;
  margin: 12px 0px;
}

h6 {
  font-weight: 600;
  font-size: 1.25em;
  margin: 12px 0px;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
}

form {
  margin-bottom: 12px;
}

.lm-login-text {
  text-align: center;
}

a.hidden-link:link,
a.hidden-link:visited {
  color: #666;
}

.uk-navbar-container {
  background-color: #000 !important;
}

.uk-dropdown {
  min-width: 230px !important;
}

.lm-mb-8 {
  margin-bottom: 8px;
}

.lm-mb-18 {
  margin-bottom: 18px;
}

.lm-mt-18 {
  margin-top: 18px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
  background-color: #C0DFFD;
  margin: 15% auto;
  padding: 20px;
  width: 80%
}

.close {
  color:#aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.uk-checkbox {
  background-color: #fff;
}

.dataTables_wrapper .dataTables_filter input {
  background-color: #f8f8f8 !important;
}

.no-link-underline .uk-button-link {
  text-decoration: none !important;
}

.uk-button-primary {
  background-color: #07FC07;
  color:#282828;
}